.hero-background {
  width: 100%;
  height: 25rem;
  display: grid;
  grid-template:
  "title photo"
  "description photo"
  "button photo" /
  60% auto;
  padding: 2rem;
  border-bottom: 0.05rem solid black;
}

.hero-background, .hero_title, .hero_description, .hero_button_div{
  background-color: #495E57;
}

.hero_title {
  grid-area: title;
  justify-self: center;
  font-size: 64px;
  font-weight: 400;
  color: #f4ce14;
}

.hero_description {
  color: white;
  grid-area: description;
  justify-self: center;
  font-family: 'karla';
  font-weight: 700;
  font-size: 23px;
  width: 400px;
  padding-left: 1.3em;
  padding-top: 1em;
}

.hero_button_div {
  grid-area: button;
  justify-self: center;
  padding-top: 1em;
  padding-right: 12em;
}

.hero_button {
  width: 150px;
  height: 3rem;
  border-radius: 16px;
  border-color: #f4ce14;
  font-family: 'karla';
  font-size: 18px;
  font-weight: 700;
  background-color: #f4ce14;
  transition: 0.3s;
}

.hero_button:hover{
  background-color: #fbdabb;
  border-color: #fbdabb;
  transition: 0.3s;
}

.hero_photo_container {
  grid-area: photo;
  justify-self: center;
  height: 250px;
  background-color: #495E57;
}

.hero_photo{
  position: absolute;
  margin-top: 5em;
  margin-left: -20vw;
  border-radius: 16px;
  height: 350px;
}

@media screen and (max-width: 768px ) {
  .hero-background {
    width: 100%;
    height: 30rem;
    display: grid;
    grid-template:
    "title" 5rem
    "description" 13rem
    "button" 5rem;
    padding: 2rem;
  }

  .hero_description {
    color: white;
    grid-area: description;
    justify-self: center;
    font-family: 'karla';
    font-weight: 700;
    font-size: 23px;
    width: 400px;
    height: auto;
    padding-left: 1.3em;
    padding-top: 1em;
  }

  .hero_photo{
    position: absolute;
    margin-left: 10000px;
  }
}
